@charset "UTF-8";
body {
	background-color: white;

}
/*navタグのデザイン*/
nav ul {
	display: table;
	margin: 0 auto;
	padding: 0 ;
	width: 80%;
	text-align: center;
	font-style: oblique;
}
nav li {
	float: left;
	width:  210px;
	list-style-type: none;
	text-align: center;
}
nav a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: black;
	padding-bottom: 5px;
	font-style: oblique;
}
nav li.current {
	border-bottom: 3px solid;
	font-style: oblique;
}

nav li:hover {
	color: block;
	border-bottom: 3px solid #2f4f4f;
	font-style: oblique;
}
/*後ろの灰色*/
.background-color {
	position: absolute;
        top: 40;
        bottom: 600;
        width: 1250px;
        background: #dcdcdc;
}
/*ロゴの位置*/
h1{
	text-align:center;
}
h2 {
	text-align:center;
	margin-top: 30px;
	margin-bottom: 0px;
}
div p {
	text-align: right;
	margin-top: 0;
	margin-bottom: 0;
}

h1#sm {
	margin-bottom: 0;/*ロゴの後ろの空白を詰める*/
}
footer{
	margin-top: 0;/*フッターの上の空白を詰める*/
	text-align: center;/*フッター中央詰め*/
}
form {
	text-align:center;/*フォーム全体を真ん中にする*/
	margin-bottom: 0px;
}
.button input:first-of-type{
    margin-right: 60px;
}
.button {
	text-align: center;/*ボタンの位置*/
	margin-bottom: 40px;
	margin-top: 20px;
}
.botton1 {
	text-align: center;
	margin-top: 30px;
}
.container {/*真ん中の色*/
  position: relative;
  width: 1215px;
  height: auto;
  background: #f5f5f5;
}
.contents {
  position: relative;
  margin-top: 30px;
}
table,th,td {
	text-align: right;
	margin-top: 0;
	margin-bottom: 0;
}
main {
	text-align: center;
}
table,td,th {/*テーブルタグ真ん中にする*/
  margin: auto;
}
td {
	text-align: center;
}
th {
	margin-bottom: 30;
}